/*ABOUT-PAGE*/
.mission-vision-container{
    background-color: #eaeaea;
    padding: 10px;
    border-radius: 3px;
}

.about-top-container h3{
    color: #a4d247; 
    text-align: center;
}

.h1-underline{
    font-family: 'Righteous', cursive; 
    text-align: center; 
    color: #000000; 
}

.h1-underline span{
    font-family: 'Righteous', cursive;
    color: #000000;
    position: relative;
    z-index: 1;
}

.h1-underline span::before{
    content: '';
    position: absolute;
    width: 100%;
    background: #a4d247;
    height: .4em;
    bottom: 0;
    padding: 0 12px;
    z-index: -1;
    margin-left: -.2em;
}

.about-wrapper p{
    font-size: 1.2em;
    line-height: 1.5em;
    text-indent: 50px;
    text-align: justify;
    padding: 10px;
}

.wwsf{
    text-align: center;
    color: #000000;
}

.mission-vision-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 15px;
    width: 100%;
    margin: 0;
    padding: 10px;
}

.our-product .mission .vission, h2 , p{
    color: #000000;
}

.awards-h1-container{
    padding-top: 50px; 
}

.awards-h1{
    text-align: center; 
    color: #000000; 
    font-family: 'Righteous', cursive;
    font-size: 3em;
}

.awards-des-wrapper{
    padding: 0 20px;
}

.awards-des-wrapper p{
    font-size: 1.2em;
    line-height: 1.5em;
    color: #000000;
}

.awards-des-wrapper li{
    color: #000000;
    list-style: disc;
    line-height: 1.5em;
}

.awards-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 350px);
    gap: 20px;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 100px;
}

.awards-post{
    border-radius: 5px;
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.awards-thumbnail{
    display: block;
    width: 100%;
    height: 400px;
}

.magazine-h1{
    padding-top: 30px;
    text-align: center; 
    color: #000000; 
    font-family: 'Righteous', cursive;
    font-size: 3em; 
}

.license-container h1{
    color: #000000; 
    text-align: center;
    font-family: 'Righteous', cursive;
}

.license-des-wrapper p {
    font-size: 1.2em;
    line-height: 1.5em;
}

.license-container{
    margin: 0 0 20px 0;
}

.license-container h1{
    font-family: 'Righteous', cursive;
    color: #000000;
}

.license-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    justify-content: center;
    gap: 15px;
    width: 100%;
}

.license-img-halal h3,
.license-img-fda1 h3, 
.license-img-fda2 h3{
    color: #000000;
}

.license-images{
    height: auto;
    width: 100%;
    border: 1px solid black;
}

.green-letter{
    color: #a4d247;
    font-weight: bolder;
}

/*PRODUCTS-PAGE*/
.product-header h3{
    text-align: center;
    color: #a4d247;
}

.product-header h1{
    text-align: center;
    color: #000000;
    font-family: 'Righteous', cursive;
}

.h1-underline-product span{
    font-family: 'Righteous', cursive;
    color: #000000;
    position: relative;
    z-index: 1;
}

.h1-underline-product span::before{
    content: '';
    position: absolute;
    width: 100%;
    background: #a4d247;
    height: .4em;
    bottom: 0;
    padding: 0 10px;
    z-index: -1;
    margin-left: -.2em;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 35px;
    overflow: auto;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

.product-post{
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: 0 0 20px 0;
}

.product-image{
    display: block;
    width: 100%;
    height: auto;
    object-fit: scale-down;
}

.product-preview{
    padding: 0;
}

.name-product{
    color: #000000;
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    margin: 0;
}

.des-product{
    background-color: #a4d247;
    padding: 20px;
}

.more-information{
    display: grid;
    justify-content: center;
    color: #a4d247;
    text-decoration: underline;
    padding: 20px 0 20px 0;
}
.more-information:hover{
   color: black;
}

.order-now{
    padding-top: 40px;
    text-align: center;
    margin-bottom: 25px;
}

.order-now a{
    color: #000000;
    background-color: #a4d247;
    border-radius: 15px;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px;
}

.order-now a:hover{
    background-color: #000000;
    color: #ffffff;
    text-decoration: underline;
}

/*MEMBERSHIP-PAGE*/
.membership-h1 h3{
    text-align: center; 
    color: #a4d247;
}

.membership-h1 h1{
    text-align: center; 
    color: #000000;
}
.membership-header-container{
    margin: 0 auto;
    width: 80%;
}

.membership-content p{
    font-size: larger;
    color: #000000;
    padding: 0 0 10px 0 ;
    border-bottom: 2px solid #a4d247;
    text-transform: uppercase;
    text-align: center;
}

.membership-image-container{
    padding: 20px;
}

.membership-image{
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
    border-radius: 2%;
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.membership-package-container{
    margin-top: 50px;
}

.membership-package-container h2{
    text-transform: uppercase;
}

.membership-package-container p{
    padding: 0 20px; 
    line-height: 1.5em;
}

.membership-package-wrapper-1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    overflow: auto;
    justify-content: center;
    margin: 50px 0 0 0 ;
}

.package-title{
    color: #000000;
}

.package-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.package-price{
    font-size: x-large;
}

.package-price span{
    color:#000000;
}

.package-preview h5{
    color: #000000;
}

.package-inclusions li{
    color: #000000;
    list-style: disc;
    line-height: 1.5em;
}

.package-plus-inclusions li{
    color: #000000;
    list-style: disc;
    line-height: 1.5em;
    font-size: 15px;
}

.stockist-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    width: 100%;
    overflow: auto;
    margin: 40px 0 0 0;
}

.stockist-image{
    height:auto;
    width:100%;
    border-radius: 2%;
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.more-benefits-wrapper{
    display: grid;
    justify-content: center;
}

.more-benefits-wrapper p{
    font-size: 20px;
}

.more-benefits-inclusions li{
    color: #000000;
    line-height: 2em;
    font-size: 18px;
}

.message-fb{
    text-align: center; 
    font-size: 30px;
}

.free li{
    list-style: disc;
}

.product-knowledge{
    padding: 40px 0 0 0;
}
.product-knowledge h2{
    text-transform: uppercase;
}

/*TESTIMONIALS*/

.testimonials-top-container h3{
    color: #a4d247; 
    text-align: center;
}

.testimonials-top-container h1{
    text-align: center; 
    color: #000000;
}

.testimonial-container p{
    line-height: 1.5em;
    padding: 10px;
}

.testimonial-post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.testimonial-image{
    width: 100%;
    height: 400px;
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

/*Contacts*/
.contact-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 40px;
    width: 100%;
    overflow: auto;
    margin: 50px 0 10px 0;
    padding: 0;
}

.contact1-image-wrapper{
    display: grid;
    padding: 20px;
}

.contact-image{
    height: auto;
    width: 100%;
    border-radius: 10px;
    -webkit-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
    box-shadow: -2px 7px 21px -9px rgba(0,0,0,0.75);
}

.contacts-h1 h1{
    font-family: 'Righteous', cursive; 
    text-align: center; 
    color: #000000;
}
.contacts-h1 h3{
    color: #a4d247; 
    text-align: center;
}

.contact1-information h1{
    color: black;
    font-size: 3em;
    margin: 30px 0 0 0;
}

.contact1-information h4{
    font-size: 20px;
    font-weight: lighter;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 860px){
    .about-top-container h1,
    .membership-h1 h1, 
    .testimonials-top-container h1,
    .contacts-h1 h1{
        font-size: 2.5em;
    }
    .awards-h1,
    .magazine-h1,
    .license-container h1,
    .contact1-information h1{
        font-size: 2em;
    }
    
    .testimonial-container h2,
    .product-knowledge h2{
        font-size: 1.8em;
    }
    .membership-package-container h2,
    .package-title{
        font-size: 1.3em;
    }
    .about-wrapper p,
    .awards-des-wrapper p,
    .license-des-wrapper p,
    .membership-content p,
    .product-knowledge p,
    .package-preview h5,
    .contact1-information h4{
        font-size: 1em;
    }
    .membership-package-container p,
    .package-inclusions li,
    .package-plus-inclusions li,
    .testimonial-container p
    {
        font-size: 0.8em;
    }
    .awards-des-wrapper li{
        font-size: 0.7em;
    }
    .message-fb{
        font-size: 1.3em;
    }
    .contact1-information h1{
        margin: 0;
    }

}

@media screen and (max-width: 894px){
    .contact1-information{
        text-align: center;
    }
}

@media screen and (max-width: 710px){
        .our-product,
        .mission,
        .vission, h2{
            text-align: center;
        }
        .product-header h1{
            font-size: 2.5em;
        }
}

@media screen and (max-width: 450px){
        .awards-h1{
            font-size: 1.2em;
        }
}
    
